body {
  background-color: var(--clr-dark);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), color-stop(10rem, rgba(0, 0, 0, 0.6)), color-stop(60%, rgba(0, 0, 0, 0.6)), to(black)), url("../imgs/bg/bangkok.jpg"), url("https://images.unsplash.com/photo-1523731407965-2430cd12f5e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-image: linear-gradient(rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 10rem, rgba(0, 0, 0, 0.6) 60%, black 100%), url("../imgs/bg/bangkok.jpg"), url("https://images.unsplash.com/photo-1523731407965-2430cd12f5e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.dialog {
  background-color: var(--clr-dark);
  color: var(--clr-on-dark);
  text-align: center;
  max-width: 900px;
  border: 0;
  border-radius: 20px;
  gap: 2rem;
  padding: 4rem 6rem;
  -webkit-animation: fade-in 200ms ease-in, from-bottom 200ms ease-in;
          animation: fade-in 200ms ease-in, from-bottom 200ms ease-in;
}

.dialog i {
  font-size: 6rem;
  margin-bottom: 2rem;
}

.dialog #error-code {
  font-size: 5rem;
}

.dialog::-webkit-backdrop {
  background-color: rgba(0, 0, 0, 0.9);
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.9);
}

.dialog__title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.dialog__title ~ * {
  margin-bottom: 3rem;
}

.dialog__subtitle {
  font-size: 1.2rem;
  font-weight: 200;
}

.dialog__button {
  margin-top: 1rem;
}

.button {
  position: relative;
  width: Max(8em, 10vw);
  padding: 1em;
  border-radius: var(--form-border-radius);
  border: 1px solid var(--clr-accent);
  background-color: transparent;
  color: var(--clr-accent);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-align: center;
  cursor: pointer;
}

.button__text {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.button:active:not([disabled]) {
  opacity: 0.7;
}

.button:hover:not([disabled]) {
  border: 1px solid var(--clr-accent);
  background-color: var(--clr-accent);
  color: var(--clr-on-accent);
}

.button--loading {
  cursor: wait;
  color: transparent;
}

.button--loading::after {
  content: '';
  position: absolute;
  width: 1.9em;
  height: 1.9em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: var(--clr-accent);
  border-radius: 50%;
  -webkit-animation: spin 1s ease infinite;
          animation: spin 1s ease infinite;
}

.header {
  grid-area: header;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  color: var(--clr-on-dark);
  padding-top: 8rem;
  padding-bottom: 6rem;
}

.header__title {
  margin-top: 0.4rem;
  grid-column: 1 / -1;
  font-family: var(--font-fancy);
  font-size: 4rem;
  text-align: center;
  -webkit-animation-name: fade-in, from-top;
          animation-name: fade-in, from-top;
  -webkit-animation-duration: var(--fade-in-duration);
          animation-duration: var(--fade-in-duration);
}

.header .divider {
  --fade-in-duration: 1s;
  grid-column: 1 / -1;
  max-width: 90%;
  height: auto;
  -webkit-animation-name: fade-in, from-top;
          animation-name: fade-in, from-top;
  -webkit-animation-duration: var(--fade-in-duration);
          animation-duration: var(--fade-in-duration);
}

.main-content {
  display: -ms-grid;
  display: grid;
  gap: 12rem 4rem;
  padding: 2rem;
  margin: 0 auto;
  max-width: 1280px;
  -ms-grid-columns: minmax(2rem, min-content) 2fr minmax(2rem, 1fr);
      grid-template-columns: minmax(2rem, -webkit-min-content) 2fr minmax(2rem, 1fr);
      grid-template-columns: minmax(2rem, min-content) 2fr minmax(2rem, 1fr);
      grid-template-areas: "location map map" "contact form .";
  color: var(--clr-on-dark);
}

.main-content [class$='-container']:not([class^='map']) h3 {
  font-family: var(--font-fancy);
  margin-bottom: 1rem;
}

.main-content [class$='-container']:not([class^='map']) p {
  line-height: 1.5;
  font-size: clamp(0.85rem, 1.8vw, 1rem);
  white-space: nowrap;
}

.main-content .location-section {
  display: contents;
}

.main-content .location-section .location-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: location;
  text-align: end;
  padding-bottom: 2rem;
}

.main-content .location-section .location-container__sticky-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
}

.main-content .location-section .map-lg-container {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: map;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 2rem;
  background-color: var(--clr-dark);
}

.main-content .map-wide {
  width: 100%;
}

.main-content .contact-section {
  display: contents;
}

.main-content .contact-section .contact-container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: contact;
  text-align: end;
  padding-bottom: 9rem;
}

.main-content .contact-section .contact-container__sticky-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
}

.main-content .contact-section .contact-container__sticky-wrapper a {
  color: var(--clr-accent);
  text-decoration: none;
}

.main-content .contact-section .contact-container__sticky-wrapper a:hover {
  opacity: 0.7;
}

.main-content .contact-section .form-container {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: form;
  min-height: calc(100vh - 10rem);
}

.main-content .contact-section .form-container .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}

.main-content .contact-section .form-container .contact-form .form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  position: relative;
}

.main-content .contact-section .form-container .contact-form label {
  font-size: 1rem;
  font-weight: 600;
}

.main-content .contact-section .form-container .contact-form input, .main-content .contact-section .form-container .contact-form textarea {
  padding: 0.6em;
  border: 1px solid white;
  border-radius: var(--form-border-radius);
  font-size: 1rem;
}

.main-content .contact-section .form-container .contact-form textarea {
  resize: vertical;
}

.main-content .contact-section .form-container .contact-form .invalid-input {
  outline: 3px solid var(--clr-error);
  -webkit-animation: shake 0.2s ease-in-out 0s 2;
          animation: shake 0.2s ease-in-out 0s 2;
}

.main-content .contact-section .form-container .contact-form .error-message {
  --pad: 0.6em;
  padding: var(--pad);
  border-radius: var(--form-border-radius);
  background-color: var(--clr-error);
  color: var(--clr-on-dark);
  -webkit-box-shadow: 0.2em 0.2em 1em rgba(0, 0, 0, 0.4);
          box-shadow: 0.2em 0.2em 1em rgba(0, 0, 0, 0.4);
  white-space: nowrap;
  position: absolute;
  z-index: 1;
  top: calc(100% + var(--pad) + var(--pad));
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
}

.main-content .contact-section .form-container .contact-form .error-message::before {
  content: '';
  position: absolute;
  left: calc(50% - var(--pad));
  bottom: 100%;
  border: var(--pad) solid;
  border-color: transparent transparent var(--clr-error) transparent;
}

@media only screen and (max-width: 930px) {
  .header {
    padding-top: 8rem;
    padding-bottom: 0;
  }
  .main-content {
        grid-template-areas: "header header header" "location map map" "contact form form";
    gap: 6rem 4rem;
  }
  .main-content .location-section .location-container__sticky-wrapper {
    top: 7rem;
  }
  .main-content .contact-section .contact-container__sticky-wrapper {
    top: 7rem;
  }
}

@media only screen and (max-width: 720px) {
  .dialog {
    padding: 4rem 4rem;
  }
  .dialog__title {
    font-size: 2rem;
  }
  .dialog__subtitle {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 560px) {
  .main-content {
        grid-template-areas: "header header header" "location location location" "map map map" "contact contact contact" "form form form";
    gap: 3rem 4rem;
  }
  .main-content .location-section .location-container {
    text-align: center;
    padding-bottom: 0;
  }
  .main-content .contact-section .contact-container {
    text-align: center;
    min-height: auto;
    padding-bottom: 0;
  }
  .main-content .contact-section .form-container {
    margin-bottom: 4rem;
  }
}
/*# sourceMappingURL=contactStyle.css.map */